table {
	font-size: 16pt;
	font-weight: 800;
	button {
		font-size: 21pt;
	}
}

.wrong {
	color: var(--hl-color);
}

.share {
	padding: 10px 15px;
	font-size: 20px;
	cursor: pointer;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #1da1f2;
	border: none;
	border-radius: 15px;
	box-shadow: 0 7px #57bfff;

	margin: 0;
	position: relative;
	left: 39%;
}

.share:active {
	margin-top: 4px;
	box-shadow: 0 5px #57bfff;
}

.twitter {
	vertical-align: text-bottom;
}

.share:hover {
	color: #fff;
}

.center {
	padding-top: 10px;
	padding-bottom: 0px;
	height: 50px;
	position: relative;
	margin-bottom: 20px;
}

.turtleCount {
	font-size: 20pt;
	margin-top: 10px;
	margin-bottom: 10px;
	align-self: center;
	text-align: center;
	font-style: italic;
	opacity: 0.8;
	white-space: pre;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	font-weight: 700;
	justify-content: center;
	pointer-events: none;
	color: white !important;
}
