.test {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	font-weight: 700;
	height: 99.8%;
	width: 50%;
	max-width: 400px;
}
.timer {
	font-size: 80pt;
	margin: 5px;
	color: var(--hl-color);
	text-align: center;
	margin-bottom: 70px;
	margin-top: -70px;
}
.timer2 {
	font-size: 30pt;
	margin: 5px;
	text-align: center;
}
.box {
	font-size: 31pt;
	overflow: hidden;
	height: 140px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 10px;
	user-select: none;
	margin-top: -80px;
	margin-left: 40px;
	.word {
		position: relative;
		margin: 0 5px 2px;
		&.wrong {
			text-decoration: 2px underline red;
		}
	}
	.typedWord {
		position: absolute;
		top: 0;
		left: 0;
	}
	.right {
		color: var(--fg-color);
	}
	#active {
		position: relative;
		width: max-content;
	}
	span.wrong {
		color: red !important;
	}
	.extra {
		opacity: 0.6;
	}

	#caret {
		transition: left 0.1s ease;
		margin-left: -7.29165px;
		position: absolute;
		color: var(--hl-color);
		&.blink {
			animation: blink 1.5s infinite 1s;
		}
	}
	@keyframes blink {
		0%,
		100% {
			opacity: 1;
		}
		50% {
			opacity: 0;
		}
	}
}

.hint {
	align-items: center;
	justify-content: center;
	position: absolute;
	text-align: center;
	align-self: center;
	bottom: 50px;
	kbd {
		background-color: var(--font-color);
		color: var(--bg-color);
		padding: 2.5px 5px;
		margin: 10px;
		border-radius: 3px;
		font-size: 9pt;
	}
}
